body {
    font-family: 'Inter', sans-serif;
}
/* Estilo para a animação do feedback */
@keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(-10px); }
    20% { opacity: 1; transform: translateY(0); }
    80% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-10px); }
}
.copy-feedback-animation {
    animation: fadeInOut 2s ease-in-out;
}
/* Estilos para os botões de tabulação */
.tab-button {
    transition: background-color 0.2s, color 0.2s;
}